In [2]:
# This project is done for the 'Data analysis with Python' course

import pandas as pd

In [5]:
df=pd.read_csv('/content/adult.data.csv')
print(df)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]

In [6]:
#How many of each race are represented in dataset?
race_count = df.race.value_counts().tolist()
print(race_count)

[27816, 3124, 1039, 311, 271]

In [7]:
# What is the average age of men?
average_age_men=round(df[df.sex=='Male'].age.mean())
print(average_age_men)

39

In [8]:
 # What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round((df[df.education=="Bachelors"].count()/df.shape[0]) *100,1)
print(percentage_bachelors)

age               16.4
workclass         16.4
fnlwgt            16.4
education         16.4
education-num     16.4
marital-status    16.4
occupation        16.4
relationship      16.4
race              16.4
sex               16.4
capital-gain      16.4
capital-loss      16.4
hours-per-week    16.4
native-country    16.4
salary            16.4
dtype: float64

In [10]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
q1 = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
q2 = df['salary'] == '>50K'

higher_education_rich = round((q1 & q2).sum() / q1.sum() * 100, 1)
lower_education_rich = round((~q1 & q2).sum() / (~q1).sum() * 100, 1)
print(higher_education_rich)
print(lower_education_rich)

46.5
17.4

In [11]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
print(min_work_hours)

1

In [12]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
q1 = df['hours-per-week'] == min_work_hours
rich_percentage = round((q1 & q2).sum() / q1.sum() * 100, 1)
print(rich_percentage)

10.0

In [16]:
 # What country has the highest percentage of people that earn >50K?
p = (df[q2]['native-country'].value_counts() \
                                / df['native-country'].value_counts() * 100).sort_values(ascending=False)
highest_earning_country = p.index[0]
highest_earning_country_percentage = round(p.iloc[0], 1)
print(highest_earning_country)
print(highest_earning_country_percentage)

Iran
41.9

In [13]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[(df['native-country'] == 'India') & q2] \
                          ['occupation'].value_counts().index[0]
print(top_IN_occupation)

Prof-specialty